<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sy.demo.dao.tarot.InvitationInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sy.demo.model.InvitationInfo">
        <result column="id" property="id"/>
        <result column="invitation_code" property="invitationCode"/>
        <result column="state" property="state"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, invitation_code, state, modify_time
    </sql>

</mapper>
