<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sy.demo.mapper.MemberCouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sy.demo.model.MemberCoupon">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="coupon_name" property="couponName" />
        <result column="member_id" property="memberId" />
        <result column="receive_num" property="receiveNum" />
        <result column="used_num" property="usedNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, coupon_name, member_id, receive_num, used_num
    </sql>

</mapper>
