*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/env/prod/db.properties
**/*.idea
**/*.iml
.DS_Store
/.metadata
/.mvn
**/out
**/target
**/bin
**/log
**/logs
**/local
**/.project
**/.settings
**/.classpath
**/.factorypath
**/merchant/ext
**/merchant/build

**/h5/public
**/h5/node_modules
